.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

main {
  max-width: 600px;
  width: 100px;
  margin: 0 auto;
  padding: 24px;
  flex-grow: 1;
}

header {
  padding: 24px;
  background-color: black;
  color: white;
}

footer {
  padding: 24px;
  background-color: whitesmoke;
  border-top: 1px solid darkgray;
}

form{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: blue;
  
}

input,
button {
  
  padding: 10px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 24px;
  border: 1px solid darkgray;
}

button {
  background-color: beige;
  color: black;
  cursor: pointer;
}

button:focus {
  outline: 2px solid grey;
  outline-offset: 2px;
}